body{
  width:100%;
  background-color:#fafafa;
  font-family:"Segoe UI Thin", Arial;
}

p{
  font-size: 15px;
}

img{
  display: block;
  margin: 0px auto;
}

form{
  width:100%;
}

input[type=text]{
  padding:8px 8px;
  margin:4px;
  width:90%;
  border:1px #f0f0f0 solid;
  background-color: #fafafa;
  color:grey;
  /* border-color:lightgrey; */
}

a{
  text-decoration: none;
}

.container{
  width:940px;
  margin:auto;
  margin-top:40px;
  display:block;
}

.imageBox{
  float:left;
  width:50%;
  margin:auto auto 0px auto;
}

.outerFormBox{
  float:right;
  width:50%;
  text-align: center;
  height:760px;
}

.innerFormBox{
  background-color: white;
  color:#b0b0b0;
  height:760px;
  margin:0px 60px;
  padding:40px;
  border:1px #f0f0f0 solid;
  text-align: center;
  height:auto;
}

.termsBox{
  margin:0px 29px;
}

.loginBox{
  background-color: white;
  height:760px;
  margin:15px 60px;
  padding:40px;
  border:1px #f0f0f0 solid;
  text-align: center;
  height:auto;
}

.icon{
  display:inline-block;
  margin:5px 5px;
  height:48px;
}
